[package]
name = "cli"
version = "0.1.0"
edition = "2024"

[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "benches"
harness = false

[dependencies]
clap = { version = "4.5.53", features = ["derive"] }
core = { path = "../core" }
